<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="namtran.helperutil">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityExample.SwipeListView"/>
        <activity android:name=".ActivityExample.GetImeiPhone"/>
        <activity android:name=".ActivityExample.UseRunnable"/>
        <activity android:name=".ActivityExample.AutoScrollView"/>
        <activity android:name=".ActivityExample.TouchItemListVieAndGridView"/>
        <activity android:name=".ActivityExample.MaterialActivity.MaterialDesign"/>
        <!-- Material Design -->
        <activity
            android:name=".ActivityExample.MaterialActivity.FabHideActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_fab_animations" />
        <activity
            android:name=".ActivityExample.MaterialActivity.ToolbarOverlayActivity"
            android:label="@string/title_activity_toolbar_test" />
        <activity
            android:name=".ActivityExample.MaterialActivity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".ActivityExample.MaterialActivity.AnimateToolbar"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".ActivityExample.MaterialActivity.TabAnimationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_animation" />
        <activity
            android:name=".ActivityExample.MaterialActivity.NestedToolbarActivity"
            android:label="@string/title_activity_nested_toolbar" />
        <activity
            android:name=".ActivityExample.MaterialActivity.QuickReturnActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_quick_return" />
        <activity
            android:name=".ActivityExample.MaterialActivity.TabsHeaderActivity"
            android:label="@string/title_activity_tabs_header"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".ActivityExample.MaterialActivity.PagerActivity"
            android:theme="@style/MyTheme.Detail" />
        <!-- -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.- -->

        <activity android:name=".ActivityExample.ContextMenuActivity"/>
        <activity android:name=".ActivityExample.GuillotineMenuActivity"/>
        <activity android:name=".ActivityExample.SlideMenuActivity"/>
        <activity android:name=".ActivityExample.FrameStrimmerActivity"/>


        <activity android:name=".ActivityExample.SwipeBack.SwipeBackActivity"/>
        <activity android:name=".ActivityExample.SwipeBack.SwipeBackNormal.SwipeBackNormalActivity"/>

        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackNormal.DemoActivity"
            android:theme="@style/Theme.No.ActionBar" />
        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackNormal.CommonActivity"
            android:label="@string/title_activity_common"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackNormal.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackNormal.ViewPagerActivity"
            android:label="@string/title_activity_viewpager"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackNormal.WebViewActivity"
            android:label="@string/title_activity_viewpager"
            android:theme="@style/ThemeSwipeBack" />

        <activity android:name=".ActivityExample.SwipeBack.SwipeBackTransition.SwipeBackTransitionActivity"
            android:theme="@style/SlideAppTheme"/>
        <activity
            android:name=".ActivityExample.SwipeBack.SwipeBackTransition.DetailActivity"
            android:theme="@style/SlideAppTheme"/>
        <activity android:name=".ActivityExample.SwipeBack.SwipeBackTransition.ImageActivity"
            android:theme="@style/SlideAppTheme"/>

        <activity android:name=".ActivityExample.MaterialIntroActivity"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoViewPagerActivityExample"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoTranslationAnimationActivity"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.SetEaseTypeActivity"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoScaleAnimationActivity"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoAlphaAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoShapeColorAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoTextViewColorAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoBackgroundColorAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoLayerListColorAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoStateListColorAnimationActivity"/>
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoRotationAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoPathAnimationActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.AppIntroExampleActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.CVExampleActivity" />
        <activity android:name=".ActivityExample.WoWoViewPagerExample.WoWoTextViewTextSizeAnimationActivity" />

    </application>

</manifest>
