<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="namtran.helperutil">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayimageViewActivity"/>
        <activity android:name=".LocationDemo"/>
        <activity android:name=".EditTextMeterial"/>
        <activity android:name=".ImageSelector"/>
        <activity android:name=".TextViewWithAnimation"/>
        <activity android:name=".SwipeListView"/>
        <activity android:name=".GetImeiPhone"/>
        <activity android:name=".UseRunnable"/>
        <activity android:name=".AutoScrollView"/>
        <activity android:name=".TouchItemListVieAndGridView"/>
        <activity android:name=".NavigationTransparent"/>
        <activity android:name=".RecycleViewQuickScroll"/>
        <activity android:name=".ScrollAnimationListviewAndRecyclerView"/>
        <activity android:name=".MaterialDesign"/>
        <!-- Material Design -->
        <activity
            android:name=".MaterialActivity.FabHideActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_fab_animations" />
        <activity
            android:name=".MaterialActivity.ToolbarOverlayActivity"
            android:label="@string/title_activity_toolbar_test" />
        <activity
            android:name=".MaterialActivity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".MaterialActivity.AnimateToolbar"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".MaterialActivity.TabAnimationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_animation" />
        <activity
            android:name=".MaterialActivity.NestedToolbarActivity"
            android:label="@string/title_activity_nested_toolbar" />
        <activity
            android:name=".MaterialActivity.QuickReturnActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_quick_return" />
        <activity
            android:name=".MaterialActivity.GmailStyleActivity"
            android:label="@string/title_activity_gmail_style" />
        <activity
            android:name=".MaterialActivity.TabsHeaderActivity"
            android:label="@string/title_activity_tabs_header"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".MaterialActivity.PagerActivity"
            android:theme="@style/MyTheme.Detail" />
    </application>

</manifest>
